@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Dancing+Script:wght@400;500;600&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=PT+Serif:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@1,500&display=swap');

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: montserrat;
    overflow: hidden;
}
nav {
	background: #485E88;
	height: 82px;
	width: 100%;
}
.logo img {
    top: 8px;
    margin-left: 19px;
    width: 90px;
    height: 70px;
    position: relative;
}
nav ul {
    float: right;
    margin-right: 20vw;
}
nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a {
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
    letter-spacing: 1px;
}

a.active, a:hover {
	background: #1d075f;
	transition: .5s;
}
.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}

.menu-social {
    display: none;
}

@media (max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}  
}

@media (max-width: 858px){
	.checkbtn {
		display: block;
	}
  
    main {
        display: none;
    }

    label.log {
        display: none;
    }

    .logo img {
        float: left;
        left: 10px;
        top: 8px;
        /* margin-left: 19px
    ; */
        width: 90px;
        height: 70px;
        position: relative;
    }

	ul { 
		position: fixed;
		width: 100%;
		height: 100%;
		background: #485E88;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
   
	nav ul li{
        display: block;
        margin: 25px 0;
        line-height: 25px;
        text-align: left;
        margin-left: 25px;
        top: 30px;
        position: relative;
        width: 85vw;
        letter-spacing: 1px;
    }

    .item {
        border-bottom: 1px solid gray;
    }

	nav ul li a {
		font-size: 20px;
	}

	a:hover, a.active {
		background: none;
		color: #5434af;
	}

	#check:checked ~ ul {
		left: 0;  
	}

    #lupa {
        color: white;
        /* margin-right: -7px; */
        position: relative;
        top: 22px;
        /* left: 80%; */
        float: right;
        /* left: 475px; */
        font-size: 30px;
        margin-right: 33px;
    }

    #burguer {
      color: white;
      position: relative;
      top: 5px;
      height: 30px;
      width: 30px;
      font-size: 30px;
    }

    .footer-nav {
        position: absolute;
        width: 100%;
        height: 110px;
        background: #485E88;
        top: 450px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    #check:checked ~ .footer-nav {
      left: 0;
    }

    .uni {
        position: absolute;
        top: 10px;
        letter-spacing: 1px;
        font-size: 22px;
        font-weight: bold;
        float: left;
        left: 10vw;
        width: 80vw;
        height: 40px;
        /* border: 1px solid var(--unnamed-color-8cc751); */
        border: 2px solid #8CC751;
        border-radius: 5px;
        opacity: 1;
        color: #8cc751;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ser-aluno {
        position: absolute;
        top: 70px;
        color: #485E88;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0px;
        float: left;
        left: 10vw;
        width: 80vw;
        height: 40px;
        background: #8CC751;
        /* border: 1px solid var(--unnamed-color-8cc751); */
        border: 1px solid #8CC751;
        border-radius: 5px;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-social {
        position: absolute;
        width: 100%;
        top: 160px;
        left: auto;
        border: none;
        display: flex;
        justify-content: space-between;
    
    }

    .menu-social .facebook a {
        position: relative;
        top: -50px;
        float: left;
        /* left: 5vw; */
        background: white;
        color: blue;
        width: 50px;
        height: 50px;
        max-width: 100%;
        border: 1px solid #485E88;
        border-radius: 50%;
    }

     #img-face {
        position: absolute;
        top: 0px;
        float: left;
        left: 0px;
        background: white;
        color: blue;
        width: 50px;
        height: 50px;
        border: 1px solid #485E88;
        border-radius: 50%;
    }

    .menu-social .instagram a {
        position: relative;
        top: -50px;
        float: left;
        /* left: 10vw; */
        width: 50px;
        height: 50px;
        max-width: 100%;
        border: 1px solid #485E88;
        border-radius: 50%;
        background: white;
    }

    #img-insta {
        position: absolute;
        float: left;
        top: 0;
        left: 0px;
        width: 50px;
        height: 50px;
        border: 1px solid #485E88;
        border-radius: 50%;
        background: white;

    }
    .menu-social .youTube a {
        position: relative;
        top: -50px;
        float: left;
        /* left: 15vw; */
        width: 50px;
        height: 50px;
        max-width: 100%;
        border: 1px solid #485E88;
        border-radius: 50%;
        background: white;
    }

    #img-tube {
        position: absolute;
        top: 0px;
        float: left;
        left: 0px;
        width: 50px;
        height: 50px;
        border: 1px solid #485E88;
        border-radius: 50%;
        background: white;
    }

    .menu-social .WhatsApp a {
        position: relative;
        top: -50px;
        float: left;
        /* left: 20vw; */
        width: 50px;
        height: 50px;
        max-width: 100%;
        border: 1px solid #485E88;
        border-radius: 50%;
        background: white;
    }

    #img-zap {
        position: absolute;
        top: 0px;
        float: left;
        left: 0px;
        width: 50px;
        height: 50px;
        border: 1px solid #485E88;
        border-radius: 50%;
        background: white;
    }

}
/*
  @media screen and (max-width: 500px) {

    header {
        background-color: #485E88;
        width: 100%;
        height: 74px; 
    } 

    header .header-menu {
        display: none;  
    }

    .header-mobile-menu {
        background: #485E88;
        width: 100%;
        height: 74px;
        display: table;
    }

    .logo img {
        margin-top: 8px;
        margin-left: 16px;
        width: 87px;
        height: 65px;
    } */

     .input {
        display: none;
    } 
/* 
    .search {
        top: 18px;
        left: 80%;
        width: 14px;
        height: 14px;
        position: absolute;
        display: none;
    }

    #lupa {
      left: 73%;
      top: 30px;
      width: 27px;
      height: 38px;
      color: white;
      font-size: 24px;
    }
  
    #burguer {
        top: 30px;
        left: 83%;
        width: 30px;
        height: 22px;
        font-size: 28px;
        color: white;
    }  */
/*
    .titulo-main {
        top: 95px;
        left: 22px;
        width: 88%;
        height: 100px;
        text-align: left;
        font: normal normal bold 24px Open Sans;
        color: #54595F ;
    }

    .paragrafo-main {
        top: 240px;
        left: 22px;
        width: 88%;
        height: 74px;
        color: #54595F;
        text-align: left;
        font: normal normal normal 16px Open Sans;
    }

    .first-img {
        width: 90vw;
        height: 448px;
        left: 20px;
        top: 322px;
    }

    #img-one {
        height: 275px;
        width: 100%;  
    }
    
    .label-escola {
        top: 286px;
        left: 2vw;
        width: 87px;
        height: 30px;
        border-radius: 15px;
        background: #dad9d989 0% 0% no-repeat padding-box;
    }

    #label {
        top: 4px;
        left: 8px;
        width: 23px;
        height: 14px;
        font-size: 23px;
        color: #8CC751;
    }

    .text-label {
       top: 7px;
       left: 35px;
       width: 80px;
       height: 18px;
       font-size: 16px;
       color: #54595F;
      
    }

    .date {
        top: 286px;
        left: 28vw;
        width: 115px;
        height: 30px;
    }

    #calendar {
        font-size: 19px;
        top: 4px;
        left: 5px;
        width: 18px;
        height: 18px;
        color: #54595F;
    }

    .text-date {
        font-size: 15px;
        top: 8px;
        left: 30px;
        width: 80px;
        height: 18px;
        color: #54595F;
    }

    .reading {
        top: 286px;
        left: 57vw;
        width: 80px;
        height: 30px;
    }

    #glasses {
        color: #54595F;
        top: 3px;
        left: 26px;
        width: 22px;
        height: 18px;
        font-size: 26px;
    }

    .time-reading {
        color: #54595F;
        top: 5px;
        left: 56px;
        width: 62px;
        height: 18px;
        font-size: 17px;
    }

    .footer-title-img {
        top: 330px;
        left: 10px;
        width: 85vw;
        height: 55px;
        color: #54595F;
        text-align: left;
        font: normal normal bold 17px Open Sans;
        letter-spacing: 0px;
        opacity: 1;
    }

    .p-footer-title-img {
        top: 385px;
        width: 85vw;
        height: 28px;
        left: 8px;
        font: normal normal normal 15px Open Sans;
        letter-spacing: 0px;
        color: #54595F;
        opacity: 1;
    }

    .line-footer {
        top: 440px;
        width: 90vw;
        height: 9px;
        background-color: #8CC751;
    }
   
    .second-img {
        top: 405px;
        left: 20px;
        width: 90vw;
        height: 391px;
        opacity: 1;
    }

    #second-photo {
        top: 387px;
        width: 100%;
        height: 255px;
    }

    .educar-01 {
        top: 650px;
        left: 2vw;
        width: 100px;
        height: 30px;
        border-radius: 15px;
        background: #dad9d989 0% 0% no-repeat padding-box;
    }

    #label-1 {
        top: 5px;
        left: 4px;
        width: 20px;
        height: 14px;
        color: #8CC751;
        font-size: 23px;
    }

    .text-label-1 {
        top: 8px;
        left: 30px;
        width: 80px;
        height: 18px;
        color: #54595F;
        font-size: 15px;
    }

    .second-title-footer {
        color: #54595F;
        top: 690px;
        left: 2vw;
        width: 90vw;
        height: 60px;
        font: normal normal bold 16px Open Sans;
    }

    #calendar-1 {
        top: 745px;
        left: 2vw;
        width: 18px;
        height: 18px;
        color: #54595F;
        font-size: 19px;
    }

    .text-date-1 {
        top: 747px;
        left: 9vw;
        width: 80px;
        height: 18px;
        font-size: 15px;
        color: #54595F;
    }

    #glasses-1 {
        left: 145px;
        top: 743px;
        width: 22px;
        height: 18px;
        font-size: 26px;
        color: #54595F;   
    }

    .time-reading-1 {
        left: 177px;
        top: 747px;
        width: 80px;
        height: 18px;
        text-align: left;
        font-size: 16px;
        letter-spacing: 0px;
        color: #54595F;
        opacity: 1;     
    }

    .border-div-1 {
        background-color: gray;
        top: 1197px;
        height: 1px;
        left: 20px;
        width: 90vw;
    }

    .third-img {
        top: 280px;
        width: 90vw;
        height: 391px;
    }

    #third-photo {
        top: 934px;
        left: 20px;
        width: 100%;
        height: 255px;
    }

    .educar-2 {
        top: 1200px;
        left: 28px;
        width: 105px;
        height: 30px;
        border-radius: 15px;
        background: #dad9d989 0% 0% no-repeat padding-box;
    }

    #label-2 {
        top: 5px;
        left: 5px;
        font-size: 23px;
        color: #8CC751;
        width: 25px;
        height: 14px;
    }

    .text-label-2 {
        top: 7px;
        left: 30px;
        width: 80px;
        height: 18px;
        color: #54595F;
        font-size: 16px;
    }

    .third-title-footer {
        top: 1250px;
        left: 30px;
        width: 90vw;
        height: 60px;
        text-align: left;
        color: #54595F;
        font: normal normal bold 16px Open Sans;
        letter-spacing: 1px ;
    }

    #calendar-2 {
        top: 1315px;
        left: 35px;
        color: #54595F;
        width: 18px;
        height: 18px;
        font-size: 19px;
    }

    .text-date-2 {
        top: 1318px;
        left: 60px;
        width: 80px;
        height: 18px;
        color: #54595F;
        text-align: left;
        font-size: 15px;
    }

    #glasses-2 {
        top: 1313px;
        left: 175px;
        width: 26px;
        height: 26px;
        color: #54595F;
        font-size: 26px;
    }

    .time-reading-2 {
        top: 1317px;
        left: 205px;
        width: 26px;
        height: 26px;
        color: #54595F;
        font-size: 15px;
    }

    .border-div-2 {
        background-color: gray;
        top: 1635px;
        height: 1px;
        left: 20px;
        width: 90vw;
    }

    .fourth-img {
        top: 878px;
        left: 20px;
        width: 90%;
        height: 391px;
    }

    #fourth-photo {
        top: 778px;
        width: 100%;
        height: 255px;
    }

    .educar-3 {
        top: 1048px;
        left: 8px;
        width: 115px;
        height: 30px;
        border-radius: 15px;
        color: #54595F;
        background: #dad9d989 0% 0% no-repeat padding-box;
    }

    #label-3 {
        top: 4px;
        left: 10px;
        width: 23px;
        height: 14px;
        color: #8CC751;
        font-size: 23px;
    }

    .text-label-3 {
        top: 8px;
        left: 37px;
        width: 23px;
        height: 14px;
        font-size: 15px;
    }

    #calendar-3 {
        top: 1155px;
        left: 17px;
        width: 26px;
        height: 26px;
        color: #54595F;
        font-size: 19px;
    }

    .text-date-3 {
        top: 1158px;
        left: 42px;
        width: 80px;
        height: 18px;
        text-align: left;
        color: #54595F;
        font-size: 15px ;
    }

    .fourth-title-footer {
        top: 1095px;
        left: 18px;
        width: 90vw;
        height: 60px;
        color: #54595F;
        text-align: left;
        font: normal normal bold 16px Open Sans;
        letter-spacing: 0px;
    }

    #glasses-3 {
        top: 1153px;
        left: 154px;
        color: #54595F;
        width: 27px;
        height: 27px;
        font-size: 27px;
    }

    .time-reading-3 {
        top: 1157px;
        left: 184px;
        width: 26px;
        height: 26px;
        color: #54595F;
        font-size: 17px;
    }

    .border-div-3 {
        background-color: gray;
        top: 2073px;
        height: 1px;
        left: 20px;
        width: 90vw;

    }

    .subtitle-middle {
        top: 213px;
        left: 22px;
        width: 90vw;
        height: 82px;
        text-align: left;
        font: normal normal bold 24px Open Sans;
        color: #54595F;
        letter-spacing: 0;
        opacity: 1;
    }

    .text-middle {
        top: 2175px;
        left: 22px;
        width: 90vw;
        height: 74px;
        text-align: left;
        font: normal normal normal 16px Open Sans;
        color: #54595F;
        letter-spacing: 0;
    }

    .box-yellow {
        top: 2260px;
        left: 20px;
        width: 90vw;
        height: 550px;
        border-radius: 24px;
        background: #FDB015 0% 0% no-repeat padding-box;
    }

    #img-box-yellow {
        top: 33px;
        left: 5vw;
        width: 90%;
        height: 218px;
        border-radius: 15px;
        border-top-right-radius: 80%;
        
    }

    .subtitle-box-yellow {
        top: 2534px;
        left: 29px;
        width: 85vw;
        height: 68px;
        text-align: center;
        font: normal normal bold 18px Open Sans;
        letter-spacing: 0;
        color: #000000;
    }

    .text-box-yellow {
        top: 2624px;
        left: 32px;
        width: 85vw;
        height: 106px;
        text-align: center;
        letter-spacing: 0px;
        color: #000000;
        font: normal normal normal 16px Open Sans;
        opacity: 1;
    }

    #add-circle {
        top: 2760px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 41px;
        height: 41px;        
        color: white;
        opacity: 1;
        font-size: 41px;
    }

    .box-purple {
        top: 2840px;
        left: 20px;
        width: 90vw;
        height: 550px;
        background: #7b309e 0% 0% no-repeat padding-box;
        border-radius: 24px;
        opacity: 1;
    }

    #img-box-purple {
        top: 33px;
        left: 5vw;
        width: 90%;
        height: 218px;
        opacity: 1;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 15%;
        border-top-right-radius: 41%;
        border-bottom-right-radius: 41%;
    }

    .subtitle-box-purple {
        top: 3120px;
        left: 25px;
        width: 85vw;
        height: 70px;
        text-align: center;
        font: normal normal bold 18px Open Sans;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

    .text-box-purple {
        top: 3211px;
        left: 25px;
        width: 85vw;
        height: 105px;
        text-align: center;
        font: normal normal normal 16px Open Sans;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

    #add-circle-2 {
        top: 3342px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 41px;
        height: 41px;
        color: white;
        opacity: 1;
        font-size: 41px;
    }

    .box-green {
        top: 3420px;
        left: 20px;
        width: 90vw;
        height: 550px;
        background: #8CC751 0% 0% no-repeat padding-box;
        border-radius: 24px;
        opacity: 1;
    }

    #img-box-green {
        top: 33px;
        left: 5vw;
        width: 90%;
        height: 218px;
        opacity: 1;
        border-top-left-radius: 42%;
        border-bottom-left-radius: 42%;
        border-top-right-radius: 29px;
        border-bottom-right-radius: 101px;
    }
    
    .subtitle-box-green {
        top: 3700px;
        left: 25px;
        width: 85vw;
        height: 70px;
        text-align: center;
        font: normal normal bold 18px Open Sans;
        letter-spacing: 0px;
        color: black;
        opacity: 1;
    }
    
    .text-box-green {
        top: 3790px;
        left: 25px;
        width: 85vw;
        height: 105px;
        text-align: center;
        font: normal normal normal 16px Open Sans;
        letter-spacing: 0px;
        color: black;
        opacity: 1;
    }

    #add-circle-3 {
        top: 3925px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 41px;
        height: 41px;
        color: white;
        opacity: 1;
        font-size: 41px;
    }

    .subtitle-box-middle-1 {
        top: 3980px;
        left: 30px;
        width: 85vw;
        height: 72px;
        text-align: left;
        font: normal normal bold 24px Open Sans;
        letter-spacing: 0px;
        color: #54595F;
        opacity: 1;
    }

    .text-box-middle-2 {
        top: 4090px;
        left: 30px;
        width: 85vw;
        height: 74px;
        text-align: left;
        font: normal normal normal 16px Open Sans;
        letter-spacing: 0px;
        color: #54595F;
        opacity: 1;
    }
  
    .box-white {
        top: 4192px;
        left: 20px;
        width: 90vw;
        height: 550px;
        border: 1px solid gray;
        border-radius: 24px;
        opacity: 1;
    }

    #img-box-white {
        top: 19px;
        left: 10px;
        width: 94%;
        height: 236px;
        opacity: 1;
        border-radius: 8px;
    }
    
    .subtitle-box-white {
        top: 4473px;
        left: 25px;
        width: 85vw;
        height: 70px;
        text-align: center;
        font: normal normal bold 18px Open Sans;
        letter-spacing: 0px;
        color: #54595F;
        opacity: 1;
    }
 
    .text-box-white {
        top: 4573px;
        left: 25px;
        width: 85vw;
        height: 105px;
        text-align: center;
        font: normal normal normal 16px Open Sans;
        letter-spacing: 0px;
        color: #54595F;
        opacity: 1;
    }

    .box-child {
        top: 4777px;
        left: 20px;
        width: 90vw;
        height: 500px;
        border: 1px solid gray;
        border-radius: 24px;
        opacity: 1;
    }

    #img-box-child {
        top: 19px;
        left: 10px;
        width: 94%;
        height: 236px;
        opacity: 1;
        border-radius: 7px;
    }
    
    .subtitle-box-child {
        top: 5054px;
        left: 25px;
        width: 85vw;
        height: 70px;
        text-align: center;
        font: normal normal bold 18px Open Sans;
        letter-spacing: 0px;
        color: #54595F;
        opacity: 1;
    }
 
    .text-box-child {
        top: 5142px;
        left: 25px;
        width: 85vw;
        height: 105px;
        text-align: center;
        font: normal normal normal 16px Open Sans;
        letter-spacing: 0px;
        color: #54595F;
        opacity: 1;
    }

    
    .box-child-2 {
        top: 5311px;
        left: 20px;
        width: 90vw;
        height: 500px;
        border: 1px solid gray;
        border-radius: 24px;
        opacity: 1;
    }

    #img-box-child-2 {
        top: 19px;
        left: 10px;
        width: 94%;
        height: 236px;
        opacity: 1;
        border-radius: 7px;
    }
    
    .subtitle-box-child-2 {
        top: 5588px;
        left: 25px;
        width: 85vw;
        height: 70px;
        text-align: center;
        font: normal normal bold 18px Open Sans;
        letter-spacing: 0px;
        color: #54595F;
        opacity: 1;
    }
 
    .text-box-child-2 {
        top: 5677px;
        left: 25px;
        width: 85vw;
        height: 105px;
        text-align: center;
        font: normal normal normal 16px Open Sans;
        letter-spacing: 0px;
        color: #54595F;
        opacity: 1;
    }
 
    .text-inf-main {
        top: 5865px;
        left: 45px;
        width: 85vw;
        height: 60px;
        text-align: left;
        font: normal normal bold 24px/33px Open Sans;
        letter-spacing: 0px;
        color: #485E88;
        opacity: 1;
    }
    
    .p-inf-main {
        top: 5925px;
        left: 37px;
        width: 85vw;
        height: 52px;
        text-align: left;
        letter-spacing: 0px;
        color: #54595F;
        opacity: 1;
        font-size: 18px;
    }

    .quadrado {
        top: 6030px;
        left: 36px;
        width: 202px;
        height: 202px;
        background: #87f11d 0% 0% no-repeat padding-box;
        border-radius: 8px;
        opacity: 1;
        position: relative;
    }

    .circulo {
        top: 6040px;
        left: 45px;
        width: 174px;
        height: 174px;
        border: 4px dashed white;
        border-radius: 50%;
        position: absolute; 
    }

    #add {
        top: 40px;
        font-size: 60px;
        color: white;
        left: 60px;
    }

    .quad {
        top: 100px;
        left: 30px;
        width: 130px;
        height: 20px;
        font-size: 30px;
        background-color: #485E88;   
    }

    .quad p {
        color: white;
        font-family: Caveat;
        font-size: 40px;
        top: -20px;
    }

    .quadrado-1 {
        top: 5828px;
        left: 255px;
        width: 202px;
        height: 202px;
        background: #87f11d 0% 0% no-repeat padding-box;
        border-radius: 8px;
        opacity: 1;
        position: relative;
    }

    .circulo-1 {
        top: 6040px;
        left: 265px;
        width: 174px;
        height: 174px;
        border: 4px dashed white;
        border-radius: 50%;
        position: absolute; 
    }

    #add-1 {
        top: 40px;
        font-size: 60px;
        color: white;
        left: 60px;
    }

    .quad-1 {
        top: 100px;
        left: 30px;
        width: 130px;
        height: 20px;
        font-size: 30px;
        background-color: #485E88;   
    }

    .quad-1 p {
        color: white;
        font-family: Caveat;
        font-size: 40px;
        top: -20px;
    }
    

    /* .nav-bar {
        margin-top: 70px;
        display: none;
    }
    .mobile-footer-menu {
        display: none;
    } */

}

